body{
	background:url(bg1.png) #111;
	color:#eee;text-align:center;font-family: 'Vollkorn', Arial;
	cursor:default;
}
a:link{
	color:#29f;text-decoration:none;
}
a:link:hover{
	text-decoration:underline;
}
a:visited{
	color:#17e;
}

#wrapper{
	position:absolute;
	left:0px;right:0px;top:0px;bottom:0px;
}
#shadow{
	position:fixed;
	left:0px;right:0px;top:0px;bottom:0px;
	box-shadow:0px 0px 100px black inset;
	pointer-events:none;
}
.centered{margin:0% 50%;transform:translate(-50%, 0%);}
.noselect{
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
#title{
	width:500px;
	text-indent: -999em;
	height:100px;background:url(Logo.png)
}
#namezone{
	width:550px;
}
#firstinput{
	width:350px;margin:25px;padding:15px;
	color:#eef;background:rgba(0,0,0,0.5);
	font-size:30px;font-family:'Vollkorn', Arial;
	text-align:center;border:0px;border-radius:5px;
	text-transform: capitalize;
	margin-bottom:80px;
}
#Syllab{
	position:absolute;left:350px;top:100px;font-size:15px;
}
#SyllC{
	width:50px;background:rgba(0,0,0,0);border:0px;color:white;font-weight:bold;
	font-size:18px;
}
#credit{
	position:absolute;left:10px;bottom:5px;
}
.button{
	position:relative;display:block;
	font-size:20px;border: #334 solid 1px;
	border-radius:3px;
	background:#223;width:250;color:#aaa;
	padding:5px;margin:10px 50%;
	cursor: pointer;
	transition: background 0.2s, color 0.2s;
}
.button:hover{
	background:#334;color:#fff;text-shadow:0px 0px 9px rgba(255,255,255,0.5);
	border: #445 solid 1px;
}
.button:active{
	background:#112;
}
input:focus{	outline-color:#334;	}

::-webkit-input-placeholder {
    opacity:0.3;
}
:-moz-placeholder {
   opacity:0.3;
}
::-moz-placeholder {
   opacity:0.3;
}
:-ms-input-placeholder {
   opacity:0.3;
}
::selection {
  background: rgba(30,70,100,0.5);
}
::-moz-selection {
  background: rgba(30,70,100,0.5);
}